{% extends 'default.html.twig' %}

{% block body%}
  <ul>
    {% for article in articles %}
      <li>
          <h4 style="display: inline-block;">{{article.title}}</h4>
          <a href="{{ path('article.view', {id: article.id}) }}">view</a>
          <a href="{{ path('article.edit', {id: article.id}) }}">edit</a>
        <br></br>
      </li>
    {% endfor%}
  </ul>
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
{% endblock %}
