{% extends 'default.html.twig' %}

{% block body%}
<div style="margin: 5% 20%;">
  <h2>- {{article.title}} -</h2>
    <br></br>
  <h4>"{{article.content}}"</h4>

    <br></br>
  <a href="{{ path('article.index') }}">retour</a>
</div>
<div style="margin: 5% 20%; display: inline-block;">

  <h2>Commentaires</h2>
  {% for commentaire in commentaires %}
    <li>
        <h4 style="display: inline-block;">{{commentaire.commentaire}}</h4>
      <br></br>
    </li>
  {% endfor%}
  <br></br>
  <h2>Ajouter un commentaire</h2>
  <br></br>
  {{form_start(form)}}
  {{form_widget(form)}}
  {{form_end(form)}}
</div>
{% endblock %}
